In [1]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("/content/gdrive/MyDrive/256_Project/deezer_features.csv", header=None)
df.head(5)

   0         1         2         3   ...        53        54        55        56
0   1 -0.007510  0.002892  0.006003  ...  0.459391  0.193252  0.139495  0.151400
1   2 -0.172181 -0.082732  0.135843  ...  0.333660  0.161552  0.120748  0.167415
2   3 -0.157183  0.009618  0.088339  ...  0.153438  0.186358  0.148314  0.113224
3   4 -0.124824 -0.020829  0.109950  ...  0.606095  0.376574  0.045419  0.033385
4   5 -0.261996 -0.288156  0.197021  ...  0.206979  0.045804  0.141537  0.142070

[5 rows x 57 columns]

In [5]:
df_1 = pd.melt(df, id_vars=[0], value_vars=list(range(1,57)))
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1359120 entries, 0 to 1359119
Data columns (total 3 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   0         1359120 non-null  int64
 1   variable  1359120 non-null  int64
 2   value     1359120 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 31.1 MB

In [8]:
df_1 = df_1.rename(columns={0:"aid", "variable":"feature","value":"fvalues"})

In [9]:
df_1.head()

   aid  feature   fvalues
0    1        1 -0.007510
1    2        1 -0.172181
2    3        1 -0.157183
3    4        1 -0.124824
4    5        1 -0.261996

In [10]:
df_1.to_csv("dataset.csv")